body {
	width: 100%;
	background-color: white;
}

.heading2 {
	text-align: center;
}

.textContainer {
	font-family: 'Slabo 27px', serif;
	margin: auto;
	width: 80%;
}

.container01 {
	margin: auto;
	background-color: rgb(203, 203, 240);
	width:1024px;
	height: 700px;
}

.image01 {
	width: 200px;
}

#ballon {
	position: relative;
	top: -10px;
	left: -50px;
}

.sliding {
	margin: 20px auto;
	text-align: center;
	width: 250px;
	height: 250px;
	background-color: blue;
}